body{
    margin:0;
    
  }
  @font-face {
    font-family: POLYA;
    src: url(POLYA.otf) format("opentype");
  }
  #background{
    display:block;
    position:fixed;
    width:120vw;
    height:120vh;
    z-index: 1000 !important;
    background-color: black;
    background: -webkit-radial-gradient(center, ellipse cover, #20c7a3 1%,#0d0011 100%);
    background: -moz-radial-gradient(center, ellipse cover, rgb(212, 28, 28) 1%,#0d0011 100%);
    background: -ie-radial-gradient(center, ellipse cover, rgb(167, 66, 66) 1%,#0d0011 100%);
  }
  img{
    position: relative;
   top:-1rem;
    width: 100%;
  }
  #logocontainer{
    display:block;
    position:fixed;
    top:50%;
    left:50%;
    width:34vh;
    height:34vh;
    margin-left:-17vh;
    margin-top:-17vh;
    overflow:hidden;
    transition:background-color 500ms;
    cursor:pointer;
  }
  
  #pelogo{
    display: block;
    position: absolute;
    left: 2vh;
    top: 2vh;
    width: 30vh;
    height: 30vh;
    background: #34324b;
    background: -moz-linear-gradient(-45deg, #34324b 0%, #161222 100%);
    background: -webkit-linear-gradient(-45deg, #34324b 0%,#161222 100%);
    background: linear-gradient(135deg, #34324b 0%,#161222 100%);
    background-size: contain;
    font-family: Trebuchet MS, sans-serif;
    font-size: 20vh;
    font-weight: bold;
    color: #3ebffa;
    text-align: center;
    line-height: 30vh;
  }
  
  .loader{
    display:block;
    position:absolute;
    background-color:#3ebffa;
  }
  
  /*Pretty complex animation, so each side needs its own @keyframes.*/
  
  @keyframes slide1{
    50%{width:32vh; margin-left:0;}
    100%{margin-left:32vh;}
  }
  
  @keyframes slide2{
    50%{height:32vh; margin-top:0;}
    100%{margin-top:32vh;}
  }
  
  @keyframes slide3{
    50%{width:32vh; margin-right:0;}
    100%{margin-right:32vh;}
  }
  
  @keyframes slide4{
    50%{height:32vh; margin-bottom:0}
    100%{margin-bottom:32vh;}
  }
